h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 0.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alt-font-family;
  font-weight: bold;
  color: map-get($colors, "brand");
}
